<h3>{{ viewTitle }}</h3>

<form action="/student" method="POST">
  <label for="name">Name: </label><br>
  <input type="text" id="name" placeholder="Name"><br>
  <label for="roll">Roll no: </label><br>
  <input type="number" id="roll" placeholder="Roll number"><br>
  <label for="wadmarks">WAD marks: </label><br>
  <input type="number" id="wadmarks" placeholder="WAD marks"><br>
  <label for="ccmarks">CC marks: </label><br>
  <input type="number" id="ccmarks" placeholder="CC marks"><br>
  <label for="dsbdamarks">DSBDA marks: </label><br>
  <input type="number" id="dsbdamarks" placeholder="DSBDA marks"><br>
  <label for="cnsmarks">CNS marks: </label><br>
  <input type="number" id="cnsmarks" placeholder="CNS marks"><br>
  {{!-- <label for="marks">WAD marks: </label><br>
  <input type="number" id="marks" placeholder="WAD marks"><br> --}}
  <button type="submit">Submit</button>
</form>